*{
    background-color: black;
    color: white;
}
/** NAVIGATION **/
#myTab{
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
    color: wheat;
}

/** HERO **/
#kanaka {
    text-align: center;
    margin-top: 3vh;
}

/** SEARCH **/
.searchContainer{
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
}
#searchBar{
    background-color: white;
    border-radius: 5px;
    width: 15rem;
}
#searchBtn{
    margin-top: 2vh;
}

/* *TABLE**/

.table-dark td {
    background-color: black;
}
.table-dark th{
    background-color: black;
}
.table-dark th{
    background-color: white;
    color: black;
}